#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Auto detect text files and perform LF normalization.
# Resources:
#       - https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html
#       - http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
#       - https://help.github.com/articles/dealing-with-line-endings/
* text=auto

*.go            text eol=lf
*.java          text
*.js            text
*.md            text
*.py            text eol=lf
*.scala         text
*.sh            text eol=lf
*.gradle        text
*.xml           text
*.bat           text eol=crlf

*.jar           binary
*.png           binary

# python files not having the .py extension
tools/cli/wsk      text eol=lf
tools/cli/wskadmin text eol=lf

# bash files not having the .sh extension
gradlew                         text eol=lf
core/javaAction/proxy/gradlew   text eol=lf
sdk/docker/client/action        text eol=lf

# auth files with default api keys
ansible/files/auth.guest         text eol=lf
ansible/files/auth.whisk.system  text eol=lf
